.comparisonContainerMainDiv > h1 {
    margin: 8px;
}

.vs{
    border: 1px solid white;
    height: 35px;
}
.comparisonItemParent{
    display:flex;
    justify-content: space-around;
    align-items: stretch;
}
.firstComparisonItem > h2{
   color:white;
   text-align: center;
}
ul{
    width: 200px;
}

