#rotate {
    animation: rotation 2s infinite linear;  
  }

h1{
  color:white;
  padding:10px;
  margin-bottom: 100px;

}


img:hover{
  opacity: 70%;
}

img.mercury{
  height:20px;
  padding:20px;
}
img.venus{
  height:40px;
  padding:20px;
}
img.earth{
  height:40px;
  padding:20px;
}
img.mars{
  height:30px;
  padding:20px;
}
img.jupiter{
  height:200px;
  width:auto;
  
}
img.saturn{
  height:200px;
}
img.uranus{
  height:100px;
  padding:20px;
}
img.neptune{
  height:100px;
  padding:20px;
}

.planetContainer{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


/* CSS for Quiz section */
.quiz-container{
  color: black;
  width: 600px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.quiz-section{
  background-color: darkgray;
  border-radius: 20px;
}

.question-count{
  padding-bottom: 5px;
  font-size: large;
  font-weight: bolder;
  padding-bottom: 20px;
}

.answer-section{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.answer-section button{
  background-color: cadetblue;
  color: white;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
}

.answer-section button:hover{
  opacity: 0.5;
}


/* End of CSS for Quiz section */